<h1>Product Lookup</h1>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name id="name"}}
  </div>

  <button class="btn btn-primary" {{action 'nameLookup'}}>Submit</button>
</form>