*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #fff;
  color: #666;
  font-family: monospace, Helvetica, Verdana, Geneva, sans-serif;
  font-size: 16px;
}
#pagewrap{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

/* main header */

#main, nav, section, footer{
  margin: 1%;
}

#main{
  width: 100%;
  height: 100px;
  margin: 0 auto 2% auto;
  background-image: url('https://unsplash.com/search/clothes?photo=7wZGMet4bDQ');
  background-size: cover;
  background-position: 50% 20%;
  padding-top: 50vh;
  padding-bottom: 50vh;
}

#main h1{
  text-align: center;
  font-size: 3em;
}
/* end of main header */

/* navigation section */

nav{
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #222;
}

nav ul{
  list-style-type: none;
  text-align: center;
}

nav ul li{
  display: inline-block;
  text-align: center;
  padding: 20px;
  height: 2%;
}

nav ul li a{
  text-decoration: none;
  color: white;
  padding: 20px;
}

/* an underline appears at the bottom on hover of each link */
nav ul li a:hover, nav ul li a:active{
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}
/* end of navigation section*/

/* left column of first content */
.left-section{
  float: left;
  width: 48%; /* 455/960*/
  height: auto;
  padding: 20px;
  line-height: 1.8;
  text-align: center;
}

.left-section h3{
  text-align: center;
  padding: 15px;
}
/* end of left column of first content */

/* right column of first content */
.right-section{
  float: right;
  width: 48%; /* 455/960*/
  height: auto;
  padding: 20px;
  line-height: 1.8;
  text-indent: 5px;
  text-align: center;
}

.right-section h3{
  text-align: center;
  padding: 15px;
}
/* end of right column of first content */

/* footer */
footer{
  clear: both;
}

footer p{
  padding: 30px;
}
/* end of footer */


/******* MEDIA QUERIES *******/

@media (max-width: 900px){
  #pagewrap {
		width: auto;
		float: none;
	}

	.left-section {
		width: auto;
		float: none;
		margin: 1%;
	}

  .right-section{
    width: auto;
    float: none;
    margin: 1%;
  }

  .imgs{
    width: 100%;
    float: none;
  }

  #left-image, #middle-image{
    margin: none;
  }

  nav ul li a{
    text-align: center;
    padding: 0;
    margin: 0;
  }

}

@media (max-width: 400px){
  body{
    font-size: .98em;
  }

  nav ul li{
    padding: 5px;
  }
}


// ################################################for shopping cart


.products {
  display: flex;
  flex-direction: column;
  .ember-view {
    display: flex;
    flex-direction: column;
    width: 40%;
    .item-image {
      width: 150px;
    }
  }
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}