<html lang="en">
<head>
  <title>Desiingerz</title>
  <meta charset="utf-8"/>
  <meta name="description" content="Responsive Fixed Nav Bar" />
  <meta name="keywords" content="Fluid, Responsive, responsive, responsive web design, responsive design, layout, css, html, web development, web design"/>
  <meta name ="Generator" content= "Atom ver1.0.11.0"/>
  <meta name="author" content="philip "/>
  <link rel="stylesheet" href="stylesheet.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  <div id="pagewrap">

    <header id="main">
      <h1>Desiignerz Club</h1>
    </header>

    <nav>
      <ul>
      	<li class="navbar-header">Desiignerz Club</li>
        <li ><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>
   {{!--  render templates --}}
    <div class="container-fluid" style="text-align: center">
    	
		{{outlet}}
    </div>
	
    
  <footer>
      <p>&copy; philip</p>
    </footer>

  </div>

  <div>
{{#link-to 'store'}}<img src="../img/logo.png" alt="" />{{/link-to}}
{{!-- {{#link-to 'admin'}}<h2>Admin</h2>{{/link-to}} --}}
</div>



</body>
</html>





























